<nav class="level">
  <p class="level-item has-text-centered">
    <a href="/modelprofile" class="link is-info">Models</a>
  </p>
  <p class="level-item has-text-centered">
   <strong style="font-size:70px;">SHOW LINK</strong>
  </p>
  <p class="level-item has-text-centered">
    <a href='/agencies' class="link is-info">Agencies</a>
  </p>
</nav> 
  {{#each showsList}}

 <article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src="{{flyer}}">
    </p>
  </figure>
  <div class="media-content">
    <div class="content">
      <p>
        <strong>{{name}}</strong> <small>{{email}}</small>
        <br>
        {{address}}
      
      </p>
    </div>
  </div>
  <div class="media-right">
   <a href="/fashionshows/{{_id}}/agency"><button>View Event</button></a>
  </div>
</article>
{{/each}}
<a href="fashionshows/new"><button>Create Event</button></a>