<section class="section">
    <div class="container">
      <h1 class="title">Event</h1>
      <h2 class="subtitle">
        {{show.name}}
        </h2>
        <p>
        {{show.date}}
        {{show.address}}
        {{show.email}}
        </p>
      <img src="{{flyer}}" width="150vw" height="150vh"></img>
      <form action="/{{show._id}}?_method=DELETE" method="POST">
       <button class="btn" type="submit">Delete Event</button>
       
   </form>
   <a href="/fashionshows/{{show._id}}/editshow"><button>Edit Event</button></a>
    </div>
</section>